@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton-svelte';
@import '@skeletonlabs/skeleton/themes/cerberus';

@source "../node_modules/svelte-streamdown/**/*";

@font-face {
    font-family: 'Inter';
    src: url("$lib/assets/fonts/InterVariable.woff2") format('woff2');
    font-display: swap;
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Inter Fallback';
    src: local("Arial");
    ascent-override: 89.79%;
    descent-override: 22.36%;
    line-gap-override: 0.00%;
    size-adjust: 107.89%;
}


:root {
    --heading-font-family: 'Inter', 'Inter Fallback', system-ui, sans-serif;
    --base-font-family: 'Inter', 'Inter Fallback', system-ui, sans-serif;
    --anchor-font-family: 'inherit';
    --heading-font-weight: 500;
}

@theme {
    --font-space-grotesk: 'Space Grotesk Variable', sans-serif;
    --font-galada: 'Galada', system-ui;
    --font-noto-serif-bengali: 'Noto Serif Bengali Variable', serif;
}

@layer base {
    html {
        overflow-y: scroll;
        font-feature-settings: "cv02","cv03","cv04","cv11";
    }

    @supports (scrollbar-gutter: stable) {
        html, #message-container {
            overflow-y: auto;
            scrollbar-gutter: stable;
        }
    }


    * {
        scrollbar-width: thin;
        scrollbar-color: rgb(var(--color-primary-500) / 0.3) transparent;
    }

    *::-webkit-scrollbar {
        width: 12px; 
        height: 12px;
    }

    *::-webkit-scrollbar-track {
        background: transparent; 
    }

    *::-webkit-scrollbar-thumb {
        background-color: rgb(var(--color-primary-500) / 0.3);
        border-radius: 20px;
        
        border: 4px solid transparent;
        background-clip: content-box;
        
        transition: background-color 0.3s ease;
    }

    *::-webkit-scrollbar-thumb:hover {
        background-color: rgb(var(--color-primary-500) / 0.5);
    }

    *::-webkit-scrollbar-thumb:active {
        background-color: rgb(var(--color-primary-500) / 0.7);
    }
    
    *::-webkit-scrollbar-corner {
        background: transparent;
    }
}